.table_menu_tr_zd{background-color: aliceblue;border-top: 7px solid #FFFFFF;}
.table_menu_tr_td_left_zd{border: 1px solid aliceblue;padding-left: 10px;}
.table_menu_tr_td_right_zd{border: 1px solid aliceblue;padding-right: 10px;}
.table_button_zd{margin-top: 2.5px;margin-bottom: 2px;}
.table_zd{background: rgb(249, 249, 249);}
.table_zd td:not(.table_menu_tr_td_left_zd):not(.table_menu_tr_td_right_zd){border: 1px solid #FFFFFF;}
.table_label_zd{margin-top: 2px;}
.table_content_zd{margin-top: 2px;margin-bottom: 2px;}
.modal-footer{background-color: #E5E5E5;padding: 8px;}
.center{text-align: center;}
.rm_left{text-align: left;}
.must_field{color:red;}
.input_lable_hm{padding-left: 0px;padding-right: 0px;text-align: left;width: 37%;}
.col-sm-8{padding-left:0px;}
.input_btn_input{float: left;width: 95%;}
.input_btn_btn{float: right;}
.list_btn{margin-left: 10px;}
body{font-size: 13px;word-break:break-all;}
.m-b{margin-bottom:0px;}
.radio_rm{float:left;}
.optionRow-right{float: right;width: auto;}
.checkTrColor{background:#FF8040;}
.highlight{background:red;}
.rm_modal_title{font-size: 14px;color: #222222;font-weight: bold;}
input{height: 22px;}
.rm_from_check{margin-top: -3px;margin-left: -20px;}
.odd{background-color: #ffffff;	}
input[type='checkbox']{
    width: 14px;
    height: 14px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
}
.modal-body{padding: 10px;background: #ffffff;}
.dataTables_scrollHead::-webkit-scrollbar-track{
   	background: #FFFFFF;
    border-radius:2px;
}
.dataTables_scrollBody::-webkit-scrollbar-track{
	background: #FFFFFF;
    border-radius:2px;
}
.col-sm-6{display: block;}
.modal_div_basice{width: 785px;}
.modal_iframe_basice{border:0px;margin:0px;width:770px;height:450px;}
.gray-bg{background-color: #f8fafb;}

 input[type=checkbox]:checked{
   background: url("../images/checkbox_icon.png")no-repeat center;
}

.search_rm_button{
	background-color:#fa5e4d;
	border-color:#fa5e4d;
	color:#FFF;
}

.search_rm_button_index{
	background-color:#fa5e4d;
	border-color:#fa5e4d;
	color:#FFF;
	border-radius: 3px;
	float: left;
	margin-left: 10px;
}

.search_rm_button.active,.search_rm_button:active,.search_rm_button:focus,.search_rm_button:hover{
	background-color:#fb5341;
	border-color:#fb5341;
	color:#FFF;
}

.search_rm_button.active.focus,.search_rm_button.active:focus,.search_rm_button.active:hover,.search_rm_button:active.focus,.search_rm_button:active:focus,.search_rm_button:active:hover,.open>.dropdown-toggle.search_rm_button.focus,.open>.dropdown-toggle.search_rm_button:focus,.open>.dropdown-toggle.search_rm_button:hover {
	color:#fff;
	background-color:#34936;
	border-color:#34936;
}

.table>thead>tr>th {
	padding: 9px;
	white-space: nowrap !important;
}

.table .nowraps {
	padding: 9px;
	white-space: nowrap !important;
}

.index_selectBtn{
	width: 40px;
    border-radius: 0px 3px 3px 0px;
    height: 26px;
    margin-top: 0px;
    padding-left: 6px;
}

/* .table>.odd{
	padding: 9px;
} */

.even{
	background-color:#f9f9f9;
}

.ui-multiselect{
	border-radius: 0px;
}

..ui-multiselect-menu{
	border-radius: 0px;
}

@media (min-width: 768px)
.col-sm-8 {width: 60%;}