@CHARSET "UTF-8";
*{
	padding:0px;
	margin:0px;
}

body{
		background-color: #f5f5f5;
		font-size: 12px;
		font-family: "微软雅黑";
	}
	.tb_one{
		border-collapse:collapse;
	}
	/* tr{
		height: 32px;
		padding: 3px;
	} */
	tr input{
		padding-left:2px;
		width: 89%;
		border: 1px solid #bababa;
		background-color: #fff;
		height:22px;
		font-size:13px;
		font-family:'微软雅黑';
	}
	input{
		font-size:12px !important;
	}
	.resultTable td{
		margin-left: 1px;
		margin-top: 1px;
		border: solid 1px #fbfbfb;
		padding:4px 0px;
	}
	 td{
		margin-left: 1px;
		margin-top: 1px;
		border: solid 1px #fbfbfb;
		padding:2px 0px;
	}
	select{
		width: 90%; 
		border: 1px solid #bababa;
		font-size: 12px;
		font-family: "微软雅黑";
		height:24px;
	}
	.one_td_name{
		background-color: #f5f5f5;
		text-align: right;
		/**font-size: 12px;**/
	}
	.one_td_content{
		/*padding-left:11px;*/
		background-color: #f5f5f5;
	}
	.one_tb_input_text input{
		background-color: #FFFF00;
	}
	.radio-inline,
	.checkbox-inline {
		display: inline-block;
		width: 25%;
	}
	.checkbox-inline input {
		width: auto;
	} 
	.checkbox-inline div{
		float: right;
		line-height:25px;
		position:relative;
		left:-8px;
		width: 80%;
		text-align: left;
	}
	.required{color:red;padding-left:2px;}
	ul li{ list-style-type:none; } 
	.one_tr_title{
		height: 22px;
		line-height: 22px;
		background-color: #C1C1C1;
		font-weight:bold;
	}
	.one_td_name span{
		color: #F00;
	}
	.tr-color{
         background-color:#d9d9d9;
    }
    .cursor{
        cursor:pointer;
    }
    .red{
    	background-color:#ffb510;
    }
    button{
    	cursor:pointer;
    	width: auto;
    	height: 26px;
    	border:1px solid #d3d3d3;
    	background-color: #e7e7e7;
		font-size: 12px;
		padding-left:15px;
		padding-right:15px;
		color:#000;
		font-family: "微软雅黑";
    }
    
  .selecttr{background-color:#ff8040 !important;}
  .oldrow{background-color:#ffffff;}
  .evenrow{background-color:#D9D9D9;}