@CHARSET "UTF-8";
.tab-a {
	padding: .4em 2em;
	z-index: 99;
	position: relative;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	font-family: '微软雅黑';
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	content: '';
	top: 0;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	bottom: 0;
	width: 1em;
	background: #E0E0E0;
}

.tab-aAcive {
	z-index: 2;
	background: #CDCDCD;
	position: relative;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-transform: skew(10deg);
	-moz-transform: skew(10deg);
	-ms-transform: skew(10deg);
	-o-transform: skew(10deg);
	transform: skew(10deg);
}
.tab-ul {
	width: auto;
	padding: 2px 0px;
	list-style: none;
	overflow: hidden;
	background:#F5F5F5;
}

.tab-ul li {
	height: 26px;
	position: relative;
	background: #E0E0E0;
	border-radius: 8px 8px 8px 0px;
	line-height: 25px;
	font-weight: bold;
	float: left;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	margin-right: 1px;
}