@import url("coolestCalendar/calendar-blue.css");

@import url("slide_menu.css");

@import url("autocompleter.css");

@import url("tree/default.css");

@import url("newiwp.css");

@import url("simpletree.css");

@import url("pagination.css");

@import url("workflow.css");

@import url("fepss.css");

@import url("prototip.css");

html, body {
	overflow-x: hidden;
}

.required {
	color: red;
}

.alertButton {
	width: auto;
	border: none;
	background-color: #699ED9;
	color: #fff;
	padding: 0.1em;
	border-bottom: 1px solid #5885b6 !important;
	border-right: 1px solid #5885b6 !important;
	border-top: 1px solid #92b8e2 !important;
	border-left: 1px solid #92b8e2 !important;
	cursor: hand;
	cursor: pointer;
}

.alertDialog {
	width: 30em;
	border: 2px solid #ff660a;
	padding: 1em;
	background: #ffffff;
	-moz-border-radius: 10px;
}

.alertContent .alertButton {
	float: right;
	position: relative;
	bottom: 1em;
}

.fieldMissing {
	background: #bedef4;
}

.fieldInvalid {
	background: #ffaf7e;
	font-weight: bold;
}



/* 选择时间的css样式 */
.datepicker{
	background-image:url(datePicker.gif) !important;
	background-repeat:no-repeat;  
	background-position:right;
}


/********************************* LiveValidation *************************************/
.LV_valid {
	color: #00CC00;
}

.LV_invalid {
	color: #CC0000;
}

.LV_validation_message {
	margin: 0 0 0 5px;
	padding: 3px 1px 1px 3px; 
	border : 1px solid #b5b5b5;
	background-color: #fffbe7;
	border: 1px solid #b5b5b5;
}

.LV_valid_field {
	border: 1px solid #00CC00;
}

.LV_invalid_field {
	border: 1px solid #CC0000;
}
/********************************* CompanyRegister used *******************************/
.company_reg_title{
	color: #669900;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px dashed #E0E0E0;
}

.popDiv,#popDiv{
	position: absolute;
	background-color:#FFFF99;
	border:1px solid black;
	font: normal 12px Verdana;
	color:#FF0000;
}


#popDiv  a,.popDiv a{
	font-size:12px;
	text-decoration: none;
	padding-left: 6px;
	color: black;
	display: block;
}

#popDiv a:hover,.popDiv a:hover{ 
	background-color: #CCFF9D;
}
.td_start {BACKGROUND: #DFECD4!important;}
.td_redbg{BACKGROUND:#FF0000!important;}

/** 已经预约的会议室 **/
.meeting-room-checked{
	background:#FF0000;
}

/** 预约有冲突的会议室 **/
.meeting-room-conflict{
	background:#9900FF;
}
.buttons-active {
	font-weight: bold;
	color: #993300 !important;
	background: #FFF1BB url(bg_btn_active.png) !important;
}

/* message boxes: warning, error, confirmation */
div.notice,div.warning,div.error{
  clear:both;
  width:98%;
  margin:0.5em auto;
  padding:0px 0px;
}
div.notice p,div.warning p,div.error p{
  padding-left:36px;
  padding-top:10px;
  padding-bottom:10px;
}

div.notice {
  color:              #000000;
  background-color:   #FFFFDD;
  border:             1px solid #FFD700;
  background-image:   url(s_notice.png);
  background-repeat:  no-repeat;
  background-position: 10px 50%;

}

div.warning {
  color:              #CC0000;
  background-color:   #FFFFCC;
  border:             1px solid #CC0000;
  background-image:   url(s_warn.png);
  background-repeat:  no-repeat;
  background-position: 10px 50%;
}

div.error {
  background-color:   #FFFFCC;
  color:              #ff0000;
  border:             1px solid #ff0000;
  background-image:   url(s_error.png);
  background-repeat:  no-repeat;
  background-position: 10px 50%;
}
