.left { float:left;}
.center { float:center;}
.right { float:right;}
.block {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 10px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; 
}

.leftSide {
	WIDTH: 252px;height:180px;
}

.scrUl {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 7px
}
.scrUl LI {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/index_li_icon1.gif); BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}

.marginT5 {
	MARGIN-TOP: 5px! important
}

.mainText {
	FONT-WEIGHT: normal;
}