
#ifr_Mask{
 opacity: 0;
 filter: alpha(opacity=0);
 border: none;
}
/*蒙板颜色及透明度*/
#div_Mask{
 background-color:#EDEDED;
 opacity:0.7;
 filter:alpha(opacity=30);
}
/*蒙板显示内容*/
#msg{
 display: none; 
 color: red;
 font-family:Tahoma;
 border:1px #999 solid;
 line-height:50px;
 text-align:center;
 background:#ccc;
}