/* CSS Document */
.uploadify-queue-item .fileName{
	display:inline-block;
	height: 15px;
	width: 150px;
	font-size: 10px;
}

 .colergray{background-color:#c0c0c0;}
  .colerred{background-color:#FF00FF;}
  .colerblue{background-color:#336600;}
  .oddstyle{background-color:#FFFFCC;}
  .evenstyle{background-color:#90EE90;}
  .selecttr{background-color:#ff8040 !important;}
  .oldrow{background-color:#ffffff;}
  .evenrow{background-color:#D9D9D9;}
  .nowstyle{background-color:#FF00FF;}
  .selecttr1{background-color:#ff8040 !important;}
  .oldrow1{background-color:#ffffff;}
  .evenrow1{background-color:#D9D9D9;}
  .selecttr2{background-color:#ff8040 !important;}
  .oldrow2{background-color:#ffffff;}
  .evenrow2{background-color:#D9D9D9;}
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma, verdana, Helvetica, sans-serif;
	list-style-type: none;
	font-size: 12px;
}

body {
	color: #000000;
	font-size: 12px;
	line-height: 150%;
	background-color:#F5F5F5;
}

/* links */
a,a:link,a:visited,a:active {
	text-decoration: none;
	color: #336666
}

a:hover {
	text-decoration: underline;
	color: #336666
}

.top,.top a:link,.top a:visited,.top a:active {
	text-decoration: none !important;
	color: #4D784D !important;
}

.top a:hover {
	text-decoration: underline !important;
	color: #FF6600 !important;
}

.input_text,select {
	border:1px #bababa solid;
	padding: 3px 2px 3px;
	margin: 2px 2px 2px 5px;
}


.must_input {
	/** update by lj 2013/11/27
	background-color: #F5FBFE;
	*/
	background-color: #FFFF00;
}


.read_input {
	background-color: #D8D8D8;
}

.error_input {
	background-color: red;
}

.input_text_active {
	border: 1px solid #ffc300;
}

.input_date {
	width: 100px;
}


.bg {
	background-color: #F8FFF0;
}

/** update by lj 2013/11/27 start */
.btnFnt,div.fun_btn a,a.btn {
	/**background-color: #F8FFF0;
	width: 82px;
	text-align: center;
	color: r333;
	padding: 2px 7px 2px 7px;
	background-image: url(bg_x1.jpg);
	background-position: -4px -55px;
	height: 23px;
	border: 0px;
	margin: 0 0 0 5px;*/
	cursor: pointer;
	
	width:65px; 
	height:25px; 
	background-color:#E7E7E7; /*背景色*/
	padding:0px; 
	border:1px solid #D3D3D3;/*外边框色*/
}
/** update by lj 2013/11/27 end */

.btnLink {
	BORDER-RIGHT: #7EBF4F 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #7EBF4F 1px solid;
	PADDING-LEFT: 2px;
	FONT-SIZE: 12px;
	FILTER: progid : DXImageTransform.Microsoft.Gradient ( GradientType = 0,
		StartColorStr = #ffffff, EndColorStr = #B3D997 );
	BORDER-LEFT: #7EBF4F 1px solid;
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #7EBF4F 1px solid
}


div.fun_btn a,div.fun_btn a:link,div.fun_btn a:visited,div.fun_btn a:active,a.btn,a.btn:link,a.btn:visited,a.btn:active
	{
	display: block;
	float: right;
	height: 20px;
	width: 70px;
	color: #000000;
}

.btnFntOn,div.fun_btn a:hover,a.btn:hover {
	background-color: #FFCC00;
	background-image: url(bg_x1.jpg);
	background-position: -4px -80px;
	color: #000000;
	text-decoration: none;
}

.inputbutton {
	background-color: #E6E6E6;
	border-color: #fff rgb(116, 116, 116) rgb(116, 116, 116)
		rgb(255, 255, 255);
	border-style: solid;
	border-width: 2px;
	color: #333;
	font-size: 78%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	padding: 2px 8px;
	margin-right: 7px;
}

div.fun_btn span {
	margin-left: 5px;
	float: left;
}

div.fun_text {
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	color: #000;
}

/* login page */
.locale-bar {
	float: right;
	width: 200px;
	margin-top: 15%;
	text-align: right;
}

.locale-bar a {
	padding-right: 20px;
}

.login-form {
	clear: both;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	background: url(login_1.jpg) no-repeat;
	width: 100%;
	height: 207px;
}

.login-form #form {
	padding-top: 10px;
	margin-left: 417px;
	padding-left: 10px;
	background: url(login_2.jpg) no-repeat;
}

.login-form p {
	margin-top: 5px;
	padding-top: 10px;
}

.link-bar {
	margin-top: 10px;
	padding-left: 43px;
}


.i_h4 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 0px 0px 1px;
	margin: 3px 17px 2px 18px;
	/**border-bottom: 1px solid #E0E0E0;*/
	height:25px;
	background: url(btnPanel.png);
	/*background: #e8f6dd url(../images/right_10.gif) 0px -55px;*/
}

.i_h4 a {
	float: right;
	margin-top: -23px;
	font-weight: normal;
	margin-right: 2%;
	width: 70px;
}

.i_h5 {
	color: #124313;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0px 0px 12px;
	margin: 5px 0px 5px 0px;
	border-bottom: 1px solid #E0E0E0;
	background: #e8f6dd url(f1.gif) 0px -55px;
	width: 1450px;
}


.i_btnbg {
	margin: 10px 0px 0px 0px;
	padding: 5px 10px 5px 13px;
	height: 26px;
	border-top: 1px dashed;
	background-color: #F5FBF0;
	border-color: #C9D6C5;
	width: 97%;
}

.main_list {
	 width: 100%;  
     border: 0px solid #000000;
}
.main_title {  
      width: 1008px;    
}
.main_conent {
      width: 100%;  
      height: 218px; 
      /** update by lj 2013/11/27 start */
      /**overflow-y:scroll;*/ 
      overflow-y:auto;
      /** update by lj 2013/11/27 end */
	  overflow-x:hidden; 
}

.main_table {  
     width: 1008px;    
}


th,td {
	padding: 0;
}

.main {
	border: 1px solid #FFFFFF;
	border-width: 1px 0px 0px 1px;
	width: 97%;
	margin: 0px 10px 5px 5px;
	border-collapse: collapse;
	border-spacing: 0;
}

.main1 {
	border: 1px solid #A3BFA8;
	border-width: 1px 0px 0px 1px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.main1 th,.main1 td {
	border: 1px solid #A3BFA8;
	border-width: 0px 1px 1px 0px;
	height: 30px;
	text-align: left;
}

/** 主页面专用 start */
.main2 {
	border: 1px solid #A3BFA8;
	border-width: 1px 0px 0px 1px;
	width: 97%;
	margin: 0px 10px 5px 5px;
	border-collapse: collapse;
	border-spacing: 0;
}
.main2 th,.main2 td {
	border: 1px solid #A3BFA8;
	border-width: 0px 1px 1px 0px;
	height: 20px;
	text-align: left;
}
/** 主页面专用 end */
.main th,.main td {
	border: 1px solid #FFFFFF;
	border-width: 0px 1px 1px 0px;
	height: 25px;
	text-align: left;
}

/** JQuery UI Dialog DIV 背景色 */
.dlgui_div {
	background-color:#F5F5F5;
}

/** JQuery UI Dialog IFrame 边框 */
.dlgui_iframe {
	border:0px;
	margin:0px;
}

/** 组合框 */
.fs_style {
 margin:0px 15px 0px 10px;
 border:2px solid #E0EEEE";
 align:center;
 background-color:#F0F0F0;
}

/** 下拉框 */
.combo{                   
width:100px;
height:25px;
border:1px #bababa solid;
font-size:12px;
background-color:#ffffff;
}
.btnPanel{ /*顶层按钮面板样式*/
	width:96%;
	margin-left:18px;
	padding-left:10px;
	margin-bottom:5px;
	height:30px;                                                       
	background: url(btnPanel.png)    
}

table.main th {
	background-color: #F5F5F5;
	padding-left: 0px;
	text-align: right;
	width: 100px;
	font-weight: normal;
	white-space: nowrap;
}


main.tl {
	width: 98%;
	margin: 0px 0px 0px 5px;
}
table.tl th {
	background-color: #DCE6E8;
	font-weight: bold;
	text-align: center;
}
main.t2{
	width: 98%;
	margin: 0px 0px 5px 5px;
}
table.t2 th {
	background-color: #c1c1c1;
	font-weight: bold;
	text-align: center;
	border-width: 0px 1px 0px 0px;
}


.form_btn,.fun_btn {
	background-color: #F5FBFE;
	border-color: #C9D6C5;
	width: 97%;
	text-align: right;
	margin: 5px 0px 5px 10px;
}

.query_btn {
	float: right;
	width: 25%;
	text-align: right;
	margin-top: -28px;
	margin-right: 2% !important;
	margin-right: 0.9%;
}

.mrh {
	margin-bottom: 0px;
	border-bottom: 0px;
}

.mrr {
	margin-top: 0px;
	border-top: 0px;
}

.wrapper {
	width: 98%;
}

.right_list {
	width: 20%;
	float: right;
	margin-right: 0px;
}

.left_detail {
	width: 77%;
	float: left;
}

.left_detail th {
	text-align: left;
	height: 25px;
}

.tr_approve {
	background-color: #d7e4f8;
	color: #0562B6;
	text-align: center;
}
.tf {
	font-size: 10pt;
	font-weight: bold;
	color: #124313;
}

textarea {
	wrap: virtual;
	overflow-y: visible;
	width: 80%;
}

.error-div {
	font-size: 12px;
	color: red;
	text-align: left;
	display: inline;
}


.delete_btn{
	margin:10px 0px 5px 20px;
	height:20px; 
	width:40px; 
	cursor:pointer; 
	position:relative;
}
.delete_btn_div{ 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px -20px;
	height:20px;
	width:30px; 
	float:left;
}
.delete_btn_left{ 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px 0px;
	height:20px;
	width:4px;
	float:left;
}
.delete_btn_right{
	float:left; 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px -40px;
	height:20px;
	width:4px; 
	}
.delete_btn_div_b{
	height:20px;
	display:block; 
	font-weight:normal; 
	text-align:left; 
	text-indent:2px;clear:both; 
	line-height:20px;@line-height:21px;height:20px;width:100%;overflow:hidden;
}

.all_btn{
	float:left;
	margin:10px 0px 5px 10px;
	height:20px; 
	width:58px; 
	cursor:pointer; 
	position:relative;
}
.all_btn_div{ 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px -20px;
	height:20px;
	width:50px; 
	float:left;
}
.all_btn_left{ 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px 0px;
	height:20px;
	width:4px;
	float:left;
}
.all_btn_right{
	float:right; 
	background:url(../../images/bg_delete_btn.gif) repeat-x 0px -40px;
	height:20px;
	width:4px; 
	}
.all_btn_div_b{
	height:20px;
	display:block; 
	font-weight:normal; 
	text-align:center; 
	clear:both; 
	line-height:20px;@line-height:21px;height:20px;width:100%;overflow:hidden;
}