.fepss {
	font-family: "宋体";
	font-size: 12px;
	color: #1D6B44;
}
.hui {
	font-family: "宋体";
	font-size: 12px;
	color: #82B585;
}

.reg_title {
 	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
}

.en {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
/**
a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660000;
	text-decoration: underline;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660000;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC6600;
	text-decoration: none;
}
*/
.top_new_body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #AEEAC8;
	background-image: url(bg03.jpg);
}

.button-gree, .button-nogree {
	height: 23px;
	width: 82px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.button-gree{
	background-image: url(gree.jpg);
}

.button-nogree{
	background-image: url(gree02.jpg);
}
