body { font-family:Verdana; font-size:14px; margin:0;}
#top_div{
	width:99%; 
	margin-top:5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #f2f7e9;
}

#container {margin:0 auto; width:100%;height:100%;margin-top:1px;}
#sidebar {/*ÓÒ²àdiv*/
			float:right;
			width:35%;
			height:100%;
			}
#content { /*×ó²àdiv*/
		  height:100%;
		  width:64.5%;
		  }
#div_s{
	margin-top: 5px;
	margin-left: 5px;
	height: 152px;
	border:1px solid  #a3bfa8;
}
#div_sh{
	margin-top: 5px;
	margin-right: 5px;
	height: 152px;
	border:1px solid  #a3bfa8;
}
table{
	width: 100%;
	height: 20px;
}
 
#tb_bottom{
	border-top-style: none;
	}
	#tb_bottom td{
	border-bottom:1px dashed #cccccc;
	}
.tb_top{
	 
	margin-top:-5px;
	border-bottom-style: none;
	}
li{
    list-style-type:square;
}
.top_table {
	padding: 0px 10px 0px 10px;
	margin: -20px 0px 0px 10px; 
	vertical-align:bottom;

}
#notic{
	display: block;
	width:150px; 
	white-space:nowrap; 
	word-break:keep-all; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
 