@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 12px;
}

#content {
	width: 900px;
	height: auto;
	margin: 0px auto;
}

#screenActivityArea {
	width: 900px;
	height: auto;
	margin: 0px auto;
}

.div-inherit {
	width: 100%;
	height: auto;
}

.span-must {
	color: #EC3131 !important;
	font-size: 12px !important;
}

.tr {
	width: 100%;
	height: auto;
}
table{
	border-collapse:collapse;
}
td {
	border: 1px solid white;
	padding:2px 0px;
}

.td-textRight {
	text-align: right !important;
}

.td-bgGray {
	background: #F0F0F0;
	color: black;
	font-size: 12px;
	line-height: 26px;
}

.td-input {
	background: #F0F0F0;
	color: black;
	font-size: 12px;
	line-height: 24px;
	vertical-align: middle;
}
input{
	font-size:12px !important;
}
.td-select {
	height: 26px;
	border: 1px #bababa solid;
	width: 90%;
}

.td-text {
	height: 24px;
	border: 1px #bababa solid;
	width: 89%;
}

.td-div {
	margin-left: 2px;
	width: 100%;
	height: auto;
}

.btn-option {
	height: 26px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #E7E7E7;
	border: 1px solid #D3D3D3;
	line-height: normal;
	font-size: 12px !important;
	cursor: pointer;
}

.td-resultTitle {
	line-height: 25px;
	background: #C1C1C1;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.td-resultInfo {
	line-height: 25px;
	color: black;
	text-align: center;
	font-size: 12px;
}

.optionRow {
	background: #E3E3E3;
	line-height: 25px;
	font-size: 12px;
}
.optionRow td{
	padding:2px 0px;
}
.input-important {
	background-color: #FFFF00 !important;
}
.input-disabled{
				background:none;
}