<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.CameraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roymark.queue.entity.Camera">
        <id column="cam_hidden_id" property="camHiddenId" />
        <result column="cam_id" property="camId" />
        <result column="cam_ip" property="camIp" />
        <result column="cam_video_addr" property="camVideoAddr" />
        <result column="cam_mac_addr" property="camMacAddr" />
        <result column="cam_brand" property="camBrand" />
        <result column="cam_type" property="camType" />
        <result column="cam_birth" property="camBirth" />
        <result column="cam_coordinates" property="camCoordinates" />
        <result column="server_hidden_id" property="serverHiddenId" />
        <result column="server_id" property="serverId" />
        <result column="floor_hidden_id" property="floorHiddenId" />
        <result column="floor_id" property="floorId" />
        <result column="floor_name" property="floorName" />
        <result column="group_hidden_id" property="groupHiddenId" />
        <result column="group_id" property="groupId" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <select id="getAllCamera" resultMap="BaseResultMap">
        SELECT * FROM (br_cam LEFT JOIN br_server ON br_cam.server_hidden_id=br_server.server_hidden_id)
        LEFT JOIN br_floor ON br_cam.floor_hidden_id=br_floor.floor_hidden_id
        LEFT JOIN br_group ON br_cam.group_hidden_id=br_group.group_hidden_id
    </select>

    <select id="getCameraByHiddenId" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM (br_cam LEFT JOIN br_server ON br_cam.server_hidden_id=br_server.server_hidden_id)
        LEFT JOIN br_floor ON br_cam.floor_hidden_id=br_floor.floor_hidden_id
        LEFT JOIN br_group ON br_cam.group_hidden_id=br_group.group_hidden_id
        WHERE cam_hidden_id = #{VALUE }
    </select>

    <select id="page" resultMap="BaseResultMap">
        SELECT * FROM (br_cam LEFT JOIN br_server ON br_cam.server_hidden_id=br_server.server_hidden_id)
        LEFT JOIN br_floor ON br_cam.floor_hidden_id=br_floor.floor_hidden_id
        LEFT JOIN br_group ON br_cam.group_hidden_id=br_group.group_hidden_id
        ${ew.customSqlSegment}
    </select>
</mapper>
