<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.QueueCaseareaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roymark.queue.entity.QueueCasearea">
        <id column="CaseArea_Ls" property="caseareaLs" />
        <result column="Area_Ls" property="areaLs" />
        <result column="CaseArea_Id" property="caseareaId" />
        <result column="CaseArea_Name" property="caseareaName" />
        <result column="Create_User" property="createUser" />
        <result column="Create_Time" property="createTime" />
        <result column="Update_User" property="updateUser" />
        <result column="Update_Time" property="updateTime" />
        <result column="Status" property="Status" />
        <result column="CaseArea_Print" property="caseareaPrint" />
        <result column="CaseArea_OrderNo" property="caseareaOrderno" />
        <result column="HallArea_Ls" property="hallareaLs" />
        <result column="CaseArea_IsUrl" property="caseareaIsurl" />
        <result column="CaseArea_AppUrlStr" property="caseareaAppurlstr" />
        <result column="CaseArea_UrlStr" property="caseareaUrlstr" />
    </resultMap>
    <resultMap id="CombinedResultMap" type="com.roymark.queue.entity.QueueCasearea"   extends="BaseResultMap" >
        <result property="areaName" column="Area_Name"/>
        <result property="hallareaName" column="HallArea_Name"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CaseArea_Ls, Area_Ls, CaseArea_Id, CaseArea_Name, Create_User, Create_Time, Update_User, Update_Time, Status, CaseArea_Print, CaseArea_OrderNo, HallArea_Ls, CaseArea_IsUrl, CaseArea_AppUrlStr, CaseArea_UrlStr
    </sql>
    <select id="searchCaseAreaList" parameterType="com.roymark.queue.entity.QueueCasearea" resultMap="CombinedResultMap">
	select
    u.CaseArea_Ls,u.CaseArea_Name,u.CaseArea_Id,u.area_ls,u.CaseArea_OrderNo,
    u.HallArea_Ls,u.CaseArea_IsUrl,u.CaseArea_UrlStr,
    a.Area_Name,u.create_user,u.create_time,u.update_user,u.update_time,u.status,u.CaseArea_Print,
    qh.HallArea_Name
    from Queue_CaseArea u
    left join queue_area a on u.area_ls=a.area_ls
    left join Queue_HallArea qh on qh.HallArea_Ls=u.HallArea_Ls
    where 1=1
	AND u.area_Ls = #{casearea.areaLs}

    and u.Status = '1'
    order by u.CaseArea_OrderNo
  </select>
</mapper>
