<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.QueueAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roymark.queue.entity.QueueArea">
        <id column="Area_Ls" property="areaLs" />
        <result column="Area_Id" property="areaId" />
        <result column="Area_Name" property="areaName" />
        <result column="Area_IsDefault" property="areaIsdefault" />
        <result column="Create_User" property="createUser" />
        <result column="Create_Time" property="createTime" />
        <result column="Update_User" property="updateUser" />
        <result column="Update_Time" property="updateTime" />
        <result column="Status" property="Status" />
        <result column="Area_OrderNo" property="areaOrderno" />
        <result column="parent_area_ls" property="parentAreaLs" />
        <result column="dbconnect" property="dbconnect" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Area_Ls, Area_Id, Area_Name, Area_IsDefault, Create_User, Create_Time, Update_User, Update_Time, Status, Area_OrderNo, parent_area_ls, dbconnect
    </sql>

</mapper>
