<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.QueueMenuinfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.roymark.queue.entity.QueueMenuinfo">
		<id column="Menu_Ls" property="menuLs" />
		<result column="Menu_Code" property="menuCode" />
		<result column="Menu_Name" property="menuName" />
		<result column="Menu_Level" property="menuLevel" />
		<result column="Menu_Up" property="menuUp" />
		<result column="Up_Name" property="upName" jdbcType="VARCHAR" />
		<result column="Menu_IsShow" property="menuIsshow" />
		<result column="Menu_IsNewWindow" property="menuIsnewwindow" />
		<result column="Menu_Url" property="menuUrl" />
		<result column="Menu_No" property="menuNo" />
		<result column="Menu_ImagePath" property="menuImagepath" />
		<result column="Create_User" property="createUser" />
		<result column="Create_Time" property="createTime" />
		<result column="Update_User" property="updateUser" />
		<result column="Update_Time" property="updateTime" />
		<result column="Status" property="Status" />
		<result column="Area_Ls" property="areaLs" />
		<result column="Area_Name" property="areaName" />
		<result column="is_super" property="issuper" />
	</resultMap>
	<!-- 通用查询映射结果 -->
	<!--<resultMap id="BaseResultMap" type="com.roymark.hospital.entity.HospitalqueueMenuinfo"> -->
	<!--<id column="Menu_Ls" property="menuLs" /> -->
	<!--<result column="Menu_Code" property="menuCode" /> -->
	<!--<result column="Menu_Name" property="menuName" /> -->
	<!--<result column="Up_Name" property="upName" /> -->
	<!--<result column="Menu_Name_PY" property="menuNamePy" /> -->
	<!--<result column="Menu_Level" property="menuLevel" /> -->
	<!--<result column="Menu_Up" property="menuUp" /> -->
	<!--<result column="Up_Name" property="upName" jdbcType="VARCHAR" /> Up_Name -->
	<!--<result column="Menu_IsShow" property="menuIsshow" /> -->
	<!--<result column="Menu_IsNewWindow" property="menuIsnewwindow" /> -->
	<!--<result column="Menu_Url" property="menuUrl" /> -->
	<!--<result column="Menu_ShowNo" property="menuShowno" /> Menu_ShowNo -->
	<!--<result column="Create_User" property="createUser" /> -->
	<!--<result column="Create_Time" property="createTime" /> -->
	<!--<result column="Update_User" property="updateUser" /> -->
	<!--<result column="Update_Time" property="updateTime" /> -->
	<!--<result column="Status" property="Status" /> -->
	<!--<result column="Menu_ImagePath" property="menuImagepath" /> -->
	<!--</resultMap> -->
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		Menu_Ls, Menu_Code, Menu_Name, Menu_Level, Menu_Up, Menu_IsShow,
		Menu_IsNewWindow, Menu_Url, Menu_No, Menu_ImagePath, Create_User,
		Create_Time, Update_User, Update_Time, Status, Area_Ls, Area_Name
	</sql>
	<select id="searchMenuInfoListByAccountLs"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select DISTINCT
		u.Menu_Ls,u.Menu_Code,u.Menu_Name,u.Menu_Name_PY,u.Menu_Level,u.Menu_Up,u.Menu_ImagePath,
		u.Menu_IsShow,u.Menu_IsNewWindow,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
		u.Menu_No,u.Menu_Url,m.Menu_Name as up_Name
		from queue_webaccountpermissions wp
		left JOIN queue_webaccount w on wp.WebAccount_Ls=w.WebAccount_Ls and
		w.status='1'
		left join queue_roleinfo r on wp.Role_Ls=r.Role_Ls and r.status='1'
		left join queue_rolepermissions rp on rp.Role_Ls=r.Role_Ls and
		rp.Permissions_Type='menu' and rp.status='1'
		left join queue_menuinfo u on rp.Menu_Ls=u.Menu_Ls and u.status='1'
		left join queue_menuinfo m on u.Menu_Up=m.Menu_Ls
		where 1=1
		and wp.Status='1'
		and w.WebAccount_Ls=#{webAccountLs}#
		and u.Menu_IsShow='1'
		order by u.Menu_No asc
	</select>

	<select id="searchMenuInfoListByAccountLsAndAreaLs"
		resultMap="BaseResultMap">
		select DISTINCT
		u.Menu_Ls,u.Menu_Code,u.Menu_Name,u.Menu_Level,u.Menu_Up,u.Menu_ImagePath,
		u.Menu_IsShow,u.Menu_IsNewWindow,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
		u.Menu_No,u.Menu_Url,m.Menu_Name as up_Name
		from queue_webaccountpermissions wp
		left JOIN queue_webaccount w on wp.WebAccount_Ls=w.WebAccount_Ls and
		w.status='1'
		left join queue_roleinfo r on wp.Role_Ls=r.Role_Ls and r.status='1'
		left join queue_rolepermissions rp on rp.Role_Ls=r.Role_Ls and
		rp.Permissions_Type='menu' and rp.status='1'
		left join queue_menuinfo u on rp.Menu_Ls=u.Menu_Ls and u.status='1'
		left join queue_menuinfo m on u.Menu_Up=m.Menu_Ls
		where 1=1
		and wp.Status='1'
		and w.WebAccount_Ls=#{arg0}
		and u.Area_Ls=#{arg1}
		and u.Menu_IsShow='1'
		order by u.Menu_No asc
	</select>

	<select id="searchMenuInfoListByAreaLs"
		resultMap="BaseResultMap">
		select DISTINCT
		u.Menu_Ls,u.Menu_Code,u.Menu_Name,u.Menu_Level,u.Menu_Up,u.Menu_ImagePath,
		u.Menu_IsShow,u.Menu_IsNewWindow,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
		u.Menu_No,u.Menu_Url,m.Menu_Name as up_Name
		from queue_webaccountpermissions wp
		left JOIN queue_webaccount w on wp.WebAccount_Ls=w.WebAccount_Ls and
		w.status='1'
		left join queue_roleinfo r on wp.Role_Ls=r.Role_Ls and r.status='1'
		left join queue_rolepermissions rp on rp.Role_Ls=r.Role_Ls and
		rp.Permissions_Type='menu' and rp.status='1'
		left join queue_menuinfo u on rp.Menu_Ls=u.Menu_Ls and u.status='1'
		left join queue_menuinfo m on u.Menu_Up=m.Menu_Ls
		where 1=1
		and wp.Status='1'
		and u.Area_Ls=#{arg0}
		and u.Menu_IsShow='1'
		order by u.Menu_No asc
	</select>


	<select id="searchPageMenuInfoList"
		parameterType="com.roymark.queue.entity.QueueMenuinfo"
		resultMap="BaseResultMap">
		select
		u.Menu_Ls,u.Menu_Code,u.Menu_Name,u.Menu_Level,u.Menu_Up,u.Menu_ImagePath,
		u.Menu_IsShow,u.Menu_IsNewWindow,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
		u.Menu_No,u.Menu_Url,m.Menu_Name as
		up_Name,u.Area_Ls,a.Area_Name,u.is_super
		from queue_menuinfo u
		left join queue_menuinfo m on u.Menu_Up=m.Menu_Ls
		left join queue_area a on u.Area_Ls=a.Area_Ls
		where 1=1
		<if test="menu.menuLevel != null and menu.menuLevel !=''">
			and u.Menu_Level = #{menu.menuLevel}
		</if>
		<if test="menu.menuName != null and menu.menuName !=''">
			and u.Menu_Name like concat('%',#{menu.menuName},'%')
		</if>
		<if test="menu.menuIsshow != null and menu.menuIsshow !=''">
			and u.Menu_IsShow =#{menu.menuIsshow}
		</if>
		<if test="menu.areaLs != null and menu.areaLs !=''">
			and u.Area_Ls = #{menu.areaLs}
		</if>
		<if test="menu.issuper != null and menu.issuper !=''">
            and u.is_super = #{menu.issuper}
        </if>
		and u.Status = '1'
		order by u.Menu_No asc
	</select>


</mapper>
