<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.QueueUserinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roymark.queue.entity.QueueUserinfo">
        <id column="UserInfo_Ls" property="userinfoLs" />
        <result column="Dept_Ls" property="deptLs" />
        <result column="Area_Ls" property="areaLs" />
        <result column="UserInfo_Id" property="userinfoId" />
        <result column="UserInfo_Name" property="userinfoName" />
        <result column="UserInfo_Code" property="userinfoCode" />
        <result column="UserInfo_Sex" property="userinfoSex" />
        <result column="UserInfo_Birth" property="userinfoBirth" />
        <result column="UserInfo_Age" property="userinfoAge" />
        <result column="UserInfo_Tel" property="userinfoTel" />
        <result column="UserInfo_Mail" property="userinfoMail" />
        <result column="UserInfo_ImagePath" property="userinfoImagepath" />
        <result column="Create_user" property="createUser" />
        <result column="Create_Time" property="createTime" />
        <result column="Update_User" property="updateUser" />
        <result column="Update_Time" property="updateTime" />
        <result column="Status" property="Status" />
        <result column="user_state" property="userState" />
        <result column="User_Password" property="userPassword" />
        <result column="UserInfo_IsTheParty" property="userinfoIstheparty" />
        <result column="UserInfo_Position" property="userinfoPosition" />
        <result column="UserInfo_Login" property="userinfoLogin" />
        <result column="Window_Ls" property="windowLs" />
        <result column="UserInfo_IsMatter" property="userinfoIsmatter" />
        <result column="Login_Time" property="loginTime" />
    </resultMap>

    <resultMap id="CombinedResultMap" type="com.roymark.queue.entity.QueueUserinfo" extends="BaseResultMap">
        <result column="Area_Name" property="areaName" />
        <result column="Dept_Name" property="deptName" />
        <result column="webAccount_ls" property="webAccountLs" />
        <result column="Position_Name" property="positionName" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UserInfo_Ls, Dept_Ls, Area_Ls, UserInfo_Id, UserInfo_Name, UserInfo_Code, UserInfo_Sex, UserInfo_Birth, UserInfo_Age, UserInfo_Tel, UserInfo_Mail, UserInfo_ImagePath, Create_user, Create_Time, Update_User, Update_Time, Status, user_state, User_Password, UserInfo_IsTheParty, UserInfo_Position, UserInfo_Login, Window_Ls, UserInfo_IsMatter, Login_Time
    </sql>
    <select id="searchUserInfoList" parameterType="com.roymark.queue.entity.QueueUserinfo" resultMap="CombinedResultMap">
        select
        u.UserInfo_Ls,u.UserInfo_Age,u.UserInfo_Birth,u.UserInfo_Id,u.UserInfo_Name,w.webAccount_ls,
        u.area_ls,a.area_name,u.userinfo_sex,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
        u.UserInfo_Mail,u.UserInfo_Code,u.UserInfo_Tel,u.UserInfo_ImagePath,u.dept_ls,t.Dept_Name,
        d.Dictionary_Name Position_Name,u.UserInfo_Position,u.UserInfo_IsTheParty,u.UserInfo_IsMatter
        from queue_userinfo u
        left join queue_dept t on u.Dept_Ls=t.dept_ls
        left join queue_area a on u.area_ls=a.area_ls
        left join queue_webaccount w on w.UserInfo_Ls=u.UserInfo_Ls and w.Status='1'
        left join queue_dictionary d on u.UserInfo_Position=d.Dictionary_Ls
        where 1=1
        <if test="userinfo.deptLs != null and userinfo.deptLs !=-1">
            and  u.Dept_Ls=#{userinfo.deptLs}
        </if>
        and  u.area_Ls=#{userinfo.areaLs}
        <if test="userinfo.userinfoName != null and userinfo.userinfoName !=''">
            and  (u.userInfo_Name  like concat('%',#{userinfo.userinfoName},'%') or u.userInfo_Code  like concat('%',#{userinfo.userinfoName},'%'))
        </if>

        and u.Status = '1'
        order by u.create_time desc
    </select>

    <select id="searchUserInfoById" parameterType="java.lang.Integer" resultMap="CombinedResultMap">
        select
        u.UserInfo_Ls,u.UserInfo_Age,u.UserInfo_Birth,u.UserInfo_Id,u.UserInfo_Name,'' as webAccount_Ls,
        u.area_ls,a.area_name,u.userinfo_sex,u.create_user,u.create_time,u.update_user,u.update_time,u.status,
        u.UserInfo_Mail,u.UserInfo_Code,u.UserInfo_Tel,u.UserInfo_ImagePath,u.dept_ls,t.Dept_Name,

        d.Dictionary_Name Position_Name,u.UserInfo_Position,u.UserInfo_IsTheParty,u.UserInfo_isMatter
        from queue_userinfo u
        left join queue_dept t on u.Dept_Ls=t.dept_ls
        left join queue_area a on u.area_ls=a.area_ls
        <!-- left join hos_section hs on u.`up_Section_Ls`=hs.`Section_Ls` -->
        left join queue_dictionary d on u.UserInfo_Position=d.Dictionary_Ls
        where 1=1
        and u.UserInfo_Ls = #{value}
    </select>
</mapper>
