<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roymark.queue.dao.QueueRolepermissionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.roymark.queue.entity.QueueRolepermissions">
        <id column="RolePermissions_Ls" property="rolepermissionsLs" />
        <result column="Role_Ls" property="roleLs" />
        <result column="Permissions_Type" property="permissionsType" />
        <result column="Menu_Ls" property="menuLs" />
        <result column="Area_Ls" property="areaLs" />
        <result column="Create_User" property="createUser" />
        <result column="Create_Time" property="createTime" />
        <result column="Update_User" property="updateUser" />
        <result column="Update_Time" property="updateTime" />
        <result column="Status" property="Status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RolePermissions_Ls, Role_Ls, Permissions_Type, Menu_Ls, Area_Ls, Create_User, Create_Time, Update_User, Update_Time, Status
    </sql>

</mapper>
